{% extends 'layout.html.twig' %}

{% block title %}Mes soirées à organiser
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('account-dashboard-parties-scss') }}
{% endblock %}

{% block body %}
<section class="body-container">
	<section class="section-80 header">
		<h1>MES SOIRÉES À ORGANISER</h1>
		<br>
		<p>Vous pouvez consulter vos différentes conversations ici :</p>
		<ul>
			<li>- avec les organisateurs des soirées</li>
			<li>- avec les invités qui souhaitent venir à votre soirée !</li>
		</ul>
        <p>{{ partygoer.firstname ~ ' ' ~ partygoer.lastname ~ ' id:' ~ partygoer.id }}</p>
	</section>

    <section class="dashboard-section">
        <div class="menu-dashboard-btn">
            <a href="" class="btn-dashboard btn-to-parties">Mes soirées</a>
            <a href="" class="btn-dashboard btn-to-comments">Mes commentaires</a>
            <a href="" class="btn-dashboard btn-to-invits">Mes invitations reçues</a>
        </div>


        <div class="dashboard-sub-section section-my-comments"></div>

        <div class="dashboard-sub-section section-my-invits"></div>
    
        <div class="section-active dashboard-sub-section section-my-parties">
            {% for party in parties %}
                <div class="card">
                {% if party.eventCover is not null %}
                    <img class="card-cover-background" src="{{ asset('build/images/' ~ party.eventCover.name) }}" alt="">
                {% endif %}
                    <div class="half-card half-top-card">
                        <h5>{{ party.title }}</h5>
                        <h5>{{ party.startingDate|date('d M Y')}}</h5>
                    </div>
                    <div class="half-card half-bottom-card">
                        <a href="{{ path('display-event', {'id': party.id, 'title':party.title }) }}">Voir</a>
                        <a href="">Modifier</a>
                        {% if party.isVisible == true %}
                            <a class="btn-event-set-visibility btn-event-set-visibility-off btn-danger" href="{{ path('event-set-visibility', {'eventId': party.id}) }}">Masquer</a>
                        {% else %}
                            <a class="btn-event-set-visibility btn-event-set-visibility-on btn-success" href="{{ path('event-set-visibility', {'eventId': party.id}) }}">Rendre visible</a>    
                        {% endif %}

                        {% if party.isCanceled == true %}
                            <a href="#" class="btn-event-set-cancellation-on">Soirée annulée</a>
                        {% else %}
                            <a class="btn-event-set-cancellation" href="{{ path('event-set-cancellation', {'eventId': party.id}) }}">Annuler la soirée</a>
                        {% endif %}
                    </div>
                </div>
                <hr class="w-50 m-auto">
            {% endfor %}
        </div>

    </section>


</section>
{% endblock %}

{% block javascripts %}
<script>
// -------- fetching buttons actions on each event cart
let buttonsEventVisibility = document.querySelectorAll('.btn-event-set-visibility');
let buttonsEventCancellation = document.querySelectorAll('.btn-event-set-cancellation');

// -------- create functions settings visibility and cancellation on event
function setEventVisibility(button) {
    fetch(button.href, {
        method: "POST",
        headers: {
        'X-Requested-With': "XMLHttpRequest",
        'Content-Type': "application/json" 
    }
    })
    .then(function(response) {
        return response.json();
    })
    .then(function(response) {
        if (response.visibility == true){
            button.innerText = "Masquer"
            button.classList.add('btn-danger');
            button.classList.remove('btn-success');
        } else if (response.visibility == false){
            button.innerText = "Rendre visible";
            button.classList.add('btn-success');
            button.classList.remove('btn-danger');
        }
    })
}

function setEventCancellation(button) {
    fetch(button.href, {
        method: "POST",
        headers: {
        'X-Requested-With': "XMLHttpRequest",
        'Content-Type': "application/json" 
    }
    })
    .then(function(response) {
        return response.json();
    })
    .then(function(response) {
        button.classList.add('btn-event-set-cancellation-on');
        button.innerText = "Soirée annulée";
    })
}

// -------- adding event listener on each button fetched with functions created earlier
buttonsEventVisibility.forEach(button => {
    button.addEventListener('click', function(event){
        event.preventDefault();

        setEventVisibility(button);
    });
});

buttonsEventCancellation.forEach(button => {
    button.addEventListener('click', function(event){
        event.preventDefault();

        let response = confirm('Souhaitez vous vraiment annulez cet évènement ? L\'action sera irréversible')

        if (response){
            setEventCancellation(button);
        }
    });
});

</script>
{% endblock %}