{% extends 'layout.html.twig' %}

{% block title %}Mes messages{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('account-messages-scss') }}
{% endblock %}

{% block body %}
<section class="body-container">
    <section class="section-80 header">
        <h1>MES MESSAGES</h1>
        <br>
        <p>Vous pouvez consulter vos différentes conversations ici :</p>
        <ul>
            <li>- avec les organisateurs des soirées</li>
            <li>- avec les invités qui souhaitent venir à votre soirée !</li>
        </ul>
    </section>

    <section class="section-messages">
        {% for conv in convs %}
            <div class="message-card-shadow">
                <div class="message-card">
                    <div class="message-header">
                        <div>
                            {% if partygoer.id == conv.userPlanner.id and conv.userGuest.profileImage %}
                                <img class="message-contact-picture" src="{{ asset(publicFolderProfile ~ '/partygoer_id_' ~ conv.userGuest.id ~ '/' ~ conv.userGuest.profileImage.name ) }}"/>
                            {% elseif partygoer.id == conv.userGuest.id and conv.userPlanner.profileImage %}
                                <img class="message-contact-picture" src="{{ asset(publicFolderProfile ~ '/partygoer_id_' ~ conv.userPlanner.id ~ '/' ~ conv.userPlanner.profileImage.name ) }}"/>
                            {% else %}
                                <img class="message-contact-picture" src="{{ asset('build/images/thumbnail-profile.jpg') }}"/>
                            {% endif %}
                        </div>
                        
                        <div class="message-primary-infos">
                            <div class="message-planner-and-toggler">
                                <p class="message-contact-name">
                                    <b>
                                    {% if partygoer.id == conv.userPlanner.id %}
                                        {{conv.userGuest.firstname ~ ' ' ~ conv.userGuest.lastname }}
                                    {% else %}
                                        {{conv.userPlanner.firstname ~ ' ' ~ conv.userPlanner.lastname }}
                                    {% endif %}
                                    </b>
                                </p>
                                <div class="material-icons expand button-display-conv">expand_more</div>
                            </div>
                            <div class="message-event-infos">
                                <p class="message-event-title"><i>{{ conv.party.title ~ " (id :" ~ conv.party.id ~ ")" }}</i></p>
                                <p class="message-event-date">{{ conv.party.startingDate | date('d-m-Y') }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="message-conversation">
                        <div class="messages">
                            {# boucler sur une div.message pour display tous les messages #}
                            {% for message in conv.messages %}
                                {% if message.author.id == partygoer.id %}
                                        {% set sidePart = 'author-side' %}
                                        {% set messagePart = 'author-message' %}
                                {% else %}
                                        {% set sidePart = 'recipient-side' %}
                                        {% set messagePart = 'recipient-message' %}
                                {% endif %}
                                    <div class="message {{ sidePart }}">
                                        <div class="bubble-message {{ messagePart }}">
                                            <p>{{ message.content }}</p>
                                            <p class="message-date">{{ message.createdAt | date('d-m-Y H:i')}}</p>
                                        </div>
                                    </div>
                            {% endfor %}
                        </div>
                        <div class="message-block-form">
                            <div class="message-form">
                                <input type="text">
                                <a href="{{ path('my_account_send_message', {'authorId': partygoer.id, 'convId': conv.id}) }}" class="btn btn-success send-message">Envoyer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
</section>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    // -------- Send new message and Display it
    let sendButtons = document.querySelectorAll('.send-message')

    function sendNewMessage(button, messageContent){

        fetch(button.href, {
            method: "POST",
            headers: {
            'X-Requested-With': "XMLHttpRequest",
            'Content-Type': "application/json" 
        },
            body: messageContent, 
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(res) {
            if(res['500']) {
                consolel.log(res);
                // TODO : do something if you don't receive data or messageContent was blank
            } else {
                displayNewMessage(button, res);            
            }
        });
    }

    function displayNewMessage(button, res){
        let divMessage = createMessageToDisplay(res);
        let messageContainer = button.parentElement.parentElement.parentElement.firstElementChild

        messageContainer.append(divMessage)
        messageContainer.scroll(0, 1000, 'smooth');
        button.previousElementSibling.value = "";
    }

    function createMessageToDisplay(res){
        let divMessage = document.createElement('div')
        let bubbleMessage = document.createElement('div')
        let messageContent = document.createElement('p')
        let messageDate = document.createElement('p')

        divMessage.classList.add('message', 'author-side')
        bubbleMessage.classList.add('bubble-message', 'author-message')
        messageContent.textContent = res['messageContent']
        messageDate.textContent = res['messageSendAt']
        messageDate.classList.add('message-date')

        bubbleMessage.append(messageContent)
        bubbleMessage.append(messageDate)
        divMessage.append(bubbleMessage);

        return divMessage;
    }

    sendButtons.forEach(button => {
        button.addEventListener('click', function(event){
            event.preventDefault();
            // get the input value
            let messageContent = this.previousElementSibling.value

            sendNewMessage(button, messageContent);
        })
    });


    // -------- Display conversation part w/ all messages
    let displayMessagesButtons = document.querySelectorAll('.button-display-conv')

    displayMessagesButtons.forEach(button => {
        button.addEventListener('click', function(){

            let conversation = button.parentElement.parentElement.parentElement.nextElementSibling;
            let blockMessages = conversation.querySelector('.messages');

            if(conversation.classList.contains("toggle-display")){
                conversation.classList.remove("toggle-display");
                button.textContent = "expand_more";
                button.classList.remove('expand-btn')
            } else {
                conversation.classList.add("toggle-display");
                button.textContent = "expand_less";
                button.classList.add('expand-btn')
            }

            blockMessages.scroll(0, 1000, 'smooth');
        })
    });

</script>
{% endblock %}