{% extends 'layout.html.twig' %}

{% block title %}Mes notifications{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('account-notifications-scss') }}

	<style>
	.notification-header {
		display: flex;
	}

	.notification-div-picture {
		display: flex;
		align-items: center;
	}
	.notification-party-picture {
		height: 65px;
		border-radius: 5px;
	}
	.notification-infos {
		margin: 0 0 0 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 100%;
	}

	.notification-event-infos {
		display: flex;
		justify-content: space-between;
	}
	</style>
{% endblock %}

{% block body %}
<section class="section-80 header">
	<h1>MES NOTIFICATIONS</h1>
	<br>
	<p>Vous pouvez consulter vos différentes notifications reçues ici</p>
</section>

<section class="section-notifications">
	{% for notification in notificationsAsGuest %}
		<div class="notification-card">
			<div class="notification-header">
				<div class="notification-div-picture">
                    {# <img src="{{ asset('/build/uploads/eventCover/' ~ notification.event.eventCover.name ) }}" class="notification-party-picture"/> #}
					{# // test avec photo de couverture pour fixtures, dans public #}
					<img class="notification-party-picture" src="{{asset('/build/images/' ~ notification.event.eventCover.name)}} " alt="">
                </div>

				<div class="notification-infos">
					<div class="notification-event-infos">
						<p>{{ notification.event.title }}</p>
						<p>{{ notification.event.startingDate | date('d-m-Y') }}</p>
					</div>
					<div class="notification-content">
						<p>L'organisateur {{ notification.author.firstname ~ ' ' ~ notification.author.lastname }}
						a accépté votre demande d'invitation</p>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</section>
{% endblock %}


{% block javascript %}{% endblock %}

