{% block eventform %}
	{{ form_start(eventForm, {'attr': {'id': 'event-form'}}) }}
	<div class="event-form-group">
		{{form_row(eventForm.title) }}
		{{form_row(eventForm.entrancePrice) }}
	</div>

	<div class="event-form-group">
		{{form_row(eventForm.startingDate) }}
		{{form_row(eventForm.endingDate) }}
	</div>

	<div class="event-form-group">
		{{form_row(eventForm.country) }}
		{{form_row(eventForm.city) }}
	</div>

	<div class="event-form-group">
		{{form_row(eventForm.address) }}
		{{form_row(eventForm.limitedPlaces) }}
	</div>

	<div class="event-form-group">
		{{form_row(eventForm.endOfRegistrations) }}
	</div>

	<div class="event-form-group">
		{{form_row(eventForm.gatheringComplementsIncluded) }}
	</div>

	<div class="event-form-group">
		{{form_row(eventForm.gatheringComplementsToBring) }}
	</div>

	<div class="event-form-group">
		{{form_row(eventForm.presentation) }}
	</div>

	<div class="event-form-group">
		{{form_row(eventForm.eventCover) }}
	</div>

	{% if app.request.attributes.get('_route') == "edit-event" %}	
		<div class="group-event-cover">
			{% if party and party.eventCover %}
				<img src="{{ asset('/uploads/eventCover/' ~ party.eventCover.name)}}" alt="">
			{% endif %}
		</div>
	{% else %}
		<div class="group-event-cover"></div>
	{% endif %}

	<div class="event-form-group">
		{{form_row(eventForm.eventPictures) }}
	</div>

	{% if app.request.attributes.get('_route') == "edit-event" %}
		<div class="group-event-pictures">
			{% if party and party.eventPictures %}
				{% for picture in party.eventPictures %}
					<img src="{{ asset('/uploads/eventPictures/' ~ picture.name)}}" alt="">
				{% endfor %}
			{% endif %}
		</div>
	{% else %}
		<div class="group-event-pictures"></div>
	{% endif %}

	<hr>
	{% if app.request.attributes.get('_route') == "edit-event" %}
		{% set dataHref = "{{ path('edit-event-gatherings', {id: party.id}) }}" %}
	{% else %}
		{% set dataHref = "" %}	
	{% endif %}
	<button data-href=dataHref class="btn-submit-event-form btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(eventForm) }}
{% endblock %}
