{% block userForm %}
    {{ form_start(userForm, {'attr': {'id': 'user-form'}}) }}
        <div class="user-form-group">
            {{form_row(userForm.firstname) }}
            {{form_row(userForm.lastname) }}
        </div>

        <div class="user-form-group">
            {{form_row(userForm.email) }}
            {{form_row(userForm.plainPassword) }}
        </div>
    
        <div class="user-form-group">
            {{form_row(userForm.birthdate) }}
            {{form_row(userForm.phone) }}
        </div>

        <div class="user-form-group">
            {{form_row(userForm.presentation) }}
        </div>
        <div class="user-form-group">
            {{form_row(userForm.agreeTerms) }}
        </div>
        {{form_row(userForm.submit, { 'label': 'CRÉER MON PROFIL' }) }}

    {{ form_end(userForm) }}
{% endblock %}