{% block userForm %}
    {{ form_start(userForm, {'attr': {'id': 'user-form'}}) }}
        <div class="user-form-group">
            {{form_row(userForm.email) }}
        </div>
        
        <div class="user-form-group">
            {{form_row(userForm.plainPassword) }}
        </div>
    
        <div class="user-form-group">
            {{form_row(userForm.agreeTerms) }}
        </div>

        <button class="btn-submit-user-form">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(userForm) }}
{% endblock %}