{% extends 'layout.html.twig' %}

{% block title %}Soirée n°
	{{event.id}}
	-
	{{parent() }}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('event-display-scss') }}
{% endblock %}


{% block body %}
	<div class="overlay-container">
		<div class="overlay-close">
			<button class="overlay-btn-close">X</button>
		</div>
		<img src="" alt="" class="overlay-picture">
	</div>

	<header>
    {% if event.eventCover %}
		<img class="header-img-bgc" src="{{asset('/uploads/eventCover/' ~ event.eventCover.name)}} " alt="">
    {% endif %}
		<div class="section-80 section-header-title">
			<h1>{{event.title }}
			{% if app.user %}
				<a href="{{ path('event-set-to-favlist', {id: event.id}) }}" class="material-icons btn-favlist">
					{{ (app.user.partygoer.checkPartyInFavlist(event)) ? 'favorite' : 'favorite_border'}}
				</a>
			{% endif %}
			</h1>
			<p>
				Etoile (Moyenne) -
				{{event.planner.firstname ~ ' ' ~ event.planner.lastname }}
				-
				{{event.country ~ ', ' ~ event.city}}
			</p>
		</div>
	</header>

	<div class="section-event-images section-80">
		<div class="grid-container">
		{% if (event.eventPictures | length) == 0 %}
			{% for i in 1..5 %}				
				<div class="grid-item grid-item-{{ loop.index }}">
					
				</div>
			{% endfor %}
		{% else %}
			{% for picture in event.eventPictures %}
				<div class="grid-item grid-item-{{ loop.index }}">
					<img src="{{asset('/uploads/eventPictures/' ~ picture.name) }}" alt="">
				</div>
			{% endfor %}
		{% endif %}
		</div>
	</div>

<div class="section-separator"></div>

<div class="section-event-planner section-80">
	<h2>Soirée organisée par :</h2>
	<br>
	<div class="section-event-planner-blocks">
		<div class="event-planner-infos event-planner-infos-1">
			<div class="event-planner-infos-primary">
				<img src="{{asset('/build/images/thumbnail-profile.jpg') }}" alt="" class="event-planner-picture-profile">
				<div>
					<h5>{{ event.planner.firstname ~ ' ' ~ event.planner.lastname }}</h5>
				</div>
			</div>
		</div>

		<div class="event-planner-infos event-planner-infos-2">
			<div>
				<p class="material-icons">flag</p>
				<p>{{event.city ~ ', ' ~ event.country | upper }}</p>
			</div>
			<div>
				<p class="material-icons">event_available</p>
				<p>
				{{ event.startingDate | date('d/m/Y') }}
					<br>
					{{ event.startingDate | date('H:i') }}
				</p>
			</div>
			<div>
				<p class="material-icons">event_busy</p>
				<p>
				{{ event.endingDate | date('d/m/Y') }}
					<br>
				{{ event.endingDate | date('H:i') }}
				</p>
			</div>
		</div>

		<div class="event-planner-infos event-planner-infos-3">
			<div>
				<p class="material-icons">paid</p>
				{% if event.entrancePrice > 0 %}
					<p>{{ event.entrancePrice }}€ prix d'entrée</p>
				{% else %}
					<p>Entrée gratuite</p>
				{% endif %}
			</div>
			<div>
				<p class="material-icons">local_activity</p>
				<p>{{ event.limitedPlaces }} places disponibles</p>
			</div>
			<div>
				<p class="material-icons">volunteer_activism</p>
				<p>60 personnes intéressés par la soirée</p>
			</div>
		</div>
	</div>
</div>
<div class="section-80">
	<div class="section-group-buttons">
		<div>
			<span class="material-icons">account_circle</span>
			<span>Profil</span>
		</div>
		{% if event.planner.id is same as app.user.partygoer.id %}
			<div class="pointer-event-none">
		{% else %}
			<div>
		{% endif %}
				<span class="material-icons">send</span>
				<span>Demande d'invitation</span>
		</div>
		<div id="open-block-creating-message" class="{{ app.user.partygoer.id == event.planner.id ? 'pointer-event-none' : '' }}">
			<span class="material-icons">chat</span>
			<span>Message</span>
		</div>
	</div>

	<div class="block-creating-message show-off">
		<form action="">
			<label for="message">"Qu'est ce que tu veux me dire pelo ?"</label>
			<textarea name="message"></textarea>
			<button type="submit">Envoyer</button>
		</form>
	</div>
</div>

<div class="section-separator"></div>

<div class="section-event-included section-80">
	<h2>Ce qui sera inclus :</h2>
	<br>
	<div class="block-event-complements-included">
		{% for complement in event.gatheringComplementsIncluded %}
			<div class="event-complement-included">
				<p>{{complement.name }}</p>
				<p class="material-icons">{{complement.icon}}</p>
			</div>
		{% endfor %}
	</div>
</div>

<div class="section-event-to-bring section-80">
	<h2>Ce que tu peux apporter avec plaisir :</h2>
	<br>
	<div class="block-event-complements-to-bring">
		{% for complement in event.gatheringComplementsToBring %}
			<div class="event-complement-to-bring">
				<p>{{complement.name }}</p>
				<p class="material-icons">{{complement.icon}}</p>
			</div>
		{% endfor %}
	</div>
</div>

<div class="section-separator"></div>

<div class="section-event-description section-80">
	<h2>Présentation de la soirée :</h2>
	<br>
	<p>{{event.presentation }}</p>
</div>

<div class="section-separator"></div>

<div class="section-event-all-guests section-80">
	<h2>Les invités présents :</h2>
	<br>
	<p>{{event.presentation }}</p>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
	let images = document.querySelectorAll('.grid-item img')
    let overlayContainer = document.querySelector('.overlay-container')
    let overlayBtnClose = document.querySelector('.overlay-btn-close')
    let navbar = document.querySelector('nav')

    // display Overlay once you click on one image
    images.forEach(image => {
        image.style.cursor = "pointer";
        image.addEventListener('click', function () {
            overlayContainer.style.display = "flex";
            navbar.style.position = "absolute";
            let blankImage = document.querySelector('.overlay-picture')
            blankImage.src = image.src
        })
    });

    // close overlay once you click on the "btn close" and "esc"
    function closeOverlay() {
        overlayContainer.style.display = "none";
        navbar.style.position = "";
    }

    overlayBtnClose.addEventListener('click', closeOverlay)

    document.addEventListener('keydown', function(e) {
        if (e.keyCode === 27) {
            closeOverlay()
        }
    })


	// Handling event : $partygoer add this party in his favlist
	let btnFavlist = document.querySelector('.btn-favlist')
	btnFavlist.addEventListener('click', function(event){
		event.preventDefault();
		addPartyToFavlist(btnFavlist.href);
	});

	function addPartyToFavlist(href) {
		event.preventDefault();

        fetch(href, {
            method: "POST",
            headers: {
            'X-Requested-With': "XMLHttpRequest",
            'Content-Type': "application/json" 
        }})
        .then(function(response) {
            return response.json();
        })
        .then(function(res) {
			console.log(res['checkPartyInFavlist'])
			if(res['checkPartyInFavlist']) {
				btnFavlist.innerText = 'favorite';
			} else {
				btnFavlist.innerText = 'favorite_border';
			}
        });
	}

	// Handling event : show textarea for sending a first message to planner Event
	let buttonBlockMessage = document.getElementById('open-block-creating-message')
	let blockMessage = document.querySelector('.block-creating-message')

	buttonBlockMessage.addEventListener('click', function(){		
		if(blockMessage.classList.contains('show-off')){
			blockMessage.classList.remove('show-off');
		} else {
			blockMessage.classList.add('show-off');
		}
	})


</script>
{% endblock %}
