{% extends 'layout.html.twig' %}

{% block title %}Create an event - {{parent() }}{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('event-form-scss') }}
{% endblock %}


{% block body %}
<div class="header-new-event">
    <img src="{{asset('build/images/las-vegas.jpg') }}" alt="">
</div>

<div class="section-title-new-event section-80">
    <h1>Commence par créer ta propre soirée !</h1>
    <br>
    <p>Après tu pourras inviter autant de monde que tu le souhaites</p>
    <br>
    <ul>
    {% set var = [
        "Remplir toutes les informations nécessaires du formulaire en dessous",
        "Donner des détails sur la soirée dans l'encadré 'Présentation', comme une jolie teaser ;)",
        "Ajouter plusieurs photos de l'endroit où se passera la soirée",
        "Choisir une seule photo dans pour être la bannière des présentation de la soirée",
        "Appuyer sur le bouton “Créer ma soirée”",
    ] %}
    {% for i in 0.. ((var | length) - 1) %}
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" id="test-icon" width="32" height="32" fill="green" class="bi bi-bookmark-check-fill" viewbox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
            </svg>
            <span>{{ 'STEP ' ~ (i+1) ~ ' - ' ~ var[i] }}</span>
        </li>
    {% endfor %}
    </ul>
</div>

<div class="section-80">
    {{ include('form/form-event.html.twig', {'button_label': 'Valider'}) }}
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('event-form-js') }}
{% endblock %}