{% block stylesheets %}
	{{ encore_entry_link_tags('navbar-scss') }}
{% endblock %}

<nav class="block-navbar">

    <div class="logo-blank">
    </div>
    
    <div class="group-btn-navbar">
        <a href="{{ path('homepage') }}">Let's find a party</a>

        <div class="circle"></div>
        
        <a href="{{ path('creation-new-party') }}">Let's create a party</a>
    </div>

    <div class="navbar-logo-user">
        <div class="logo-user material-icons">
            account_circle
        </div>
        <div class="menu-user">
            <ul>
            {% if app.user %}
                <li>
                    <a href="{{ path('admin_user_profile')}}">MON COMPTE</a>
                </li>
                <li>WISHLIST DE SOIRÉES</li>
                <li>TOUS MES ÉVÈNEMENTS</li>
                <hr>
                <li>
                    <a href="{{ path('app_logout')}}">SE DECONNECTER</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('app_login')}}">SE CONNECTER</a>
                </li>
                <li>
                    <a href="{{path('user_registration') }}">
                        S'INSCRIRE 
                    </a>        
                </li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>


<script>
    let userMenu = document.querySelector('.menu-user')
    let userLogo = document.querySelector('.logo-user')

    function showUserMenu () {
        userMenu.classList.toggle('active');
    }

    userLogo.addEventListener('click', showUserMenu)

// --------
</script>
