{% block stylesheets %}
	{{ encore_entry_link_tags('navbar-scss') }}
{% endblock %}

<nav class="navbar-block">
    <div class="nav-logo-part">
        <img class="logo-img" src="{{ asset('build/images/logo.png') }}" alt="">
        <div class="group-letters">
            <p>L</p>
            <p>W</p>
            <p>K</p>
            <p>Y</p>
        </div>
    </div>

    <div class="nav-actions-part">
        <a href="{{ path('homepage') }}">🔎 Chercher une soirée  🎉</a>
        <div class="circle"></div>
        <a href="{{ path('creation-new-party') }}">🛠 Organiser une soirée  🎉️</a>
    </div>

    <style>
    .circle {
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    </style>

    <div class="nav-user-part">
        <div class="icons material-icons">
            <div>forum</div>
        </div>
        <div class="icons material-icons">
            <div>notifications</div>
        </div>
        <div class="icons icon-user material-icons">
            <div>account_circle</div>
        </div>
        <div class="menu-user">
            <ul>
                {% if app.user %}
                    <li>
                        <a href="{{ path('admin_user_profile')}}">MON COMPTE</a>
                    </li>
                    <li>WISHLIST DE SOIRÉES</li>
                    <li>TOUS MES ÉVÈNEMENTS</li>
                    <hr>
                    <li>
                        <a href="{{ path('app_logout')}}">SE DECONNECTER</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('app_login')}}">SE CONNECTER</a>
                    </li>
                    <li>
                        <a href="{{path('user_registration') }}">
                            S'INSCRIRE
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<script>
    let userMenu = document.querySelector('.menu-user')
    let userLogo = document.querySelector('.icon-user')

    function showUserMenu () {
        userMenu.classList.toggle('active');
    }

    userLogo.addEventListener('click', showUserMenu)

// --------
</script>
