{% block stylesheets %}
	{{ encore_entry_link_tags('navbar-scss') }}
{% endblock %}

<nav class="navbar-block">
    {% for type, message in app.flashes %}
        {% if message|length > 0 %}
            {% for content in message %}
                    <div class="alert alert-{{ type }}">
                        <p>{{ content }}</p>
                    </div>
            {% endfor %}
        {% endif %}
    {% endfor %}

    <div class="nav-logo-part">
        <img class="logo-img" src="{{ asset('build/images/logo.png') }}" alt="">
        <div class="group-letters">
            <p>L</p>
            <p>W</p>
            <p>K</p>
            <p>Y</p>
        </div>
    </div>

    <div class="nav-actions-part">
        <a href="{{ path('homepage') }}">🔎 Chercher une soirée  🎉</a>
        <div class="circle"></div>
        <a href="{{ path('creation-new-party') }}">🛠 Organiser une soirée  🎉️</a>
    </div>


    <div class="nav-user-part">
        <a href="{{ path('my_account_direct_messages') }}">
            <div class="icons material-icons">
                <div>forum</div>
            </div>
        </a>
        <a href="{{ path('my_account_notifications') }}">
            <div class="icons material-icons">
                <div>notifications</div>
            </div>
        </a>
        <div class="icons icon-user material-icons">
            <div>account_circle</div>
        </div>
        <div class="menu-user">
            <ul>
                {% if app.user %}
                    <li>
                        <a href="{{ path('admin_user_profile')}}">Mon compte</a>
                    </li>
                    <li>
                        <a href="{{ path('my_account_favlist_parties')}}">Favlist des soirées</a>
                    </li>
                    <li>Tous mes évènements</li>
                    <hr>
                    <li>
                        <a href="{{ path('app_logout')}}">Se déconnecter</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('app_login')}}">Se connecter</a>
                    </li>
                    <li>
                        <a href="{{path('user_registration') }}">
                            S'inscrire
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="menu-responsive">
    <div class="menu-user-admin">
    	<a href="{{ path('admin_user_profile')}}">MES SOIRÉES À ORGANISER</a>
    	<a href="{{ path('admin_user_profile')}}">MA FAVLIST - INVITATIONS</a>
    	<a href="{{ path('admin_user_profile')}}">MES DERNIÈRES SOIRÉES</a>
    </div>
    <div class="menu-user-icon">
        <a class="material-icons" href="{{ path('my_account_direct_messages') }}">
            <div>forum</div>
        </a>
        <div class="material-icons">
            <div>notifications</div>
        </div>
        <div class="material-icons">
            <div>account_circle</div>
        </div>
    </div>
</div>

<script>
    let userMenu = document.querySelector('.menu-user')
    let userLogo = document.querySelector('.icon-user')

    function showUserMenu () {
        userMenu.classList.toggle('active');
    }

    userLogo.addEventListener('click', showUserMenu)

    if (window.matchMedia("(max-width: 700px)").matches) {
        buttonsActionsNavbar = document.querySelectorAll('.nav-actions-part a')
        buttonsActionsNavbar[0].innerText = '🎉 🔎'
        buttonsActionsNavbar[1].innerText = '🎉 🛠'
    }

    // ------------
    window.addEventListener('load', function(){
        let flashMessage = document.querySelector('.alert')
        if (flashMessage) {
            flashMessage.classList.add('shade-disappear');
            setTimeout(() => {
                flashMessage.style.display = "none";
            }, 6000);
        }
    })
// --------
</script>
